body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    flex-flow: column;
    height: 100vh;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height:700px;
    width:17vw;
    height:auto;;
}
ul {
    padding-left: 7vw; padding-right: 7vw;
}
p {
    font-size: 16px;
    padding-left: 1vw; padding-right: 1vw;
}
h1 {
    margin: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 4em;
    text-align: center;
    background-color: rgba(0,0,0,0.90);
}
h2 {
    margin: 0;
    color: #0074D9;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3em;
    text-align: center;
}
h3 {
    margin: 0;
    padding: 0.7em;
    color: #0074D9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
}
select{
    height: 5em;
}

#left-span {
    margin-left: 2vw;
    flex:1;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
#right-span {
    margin-right: 2vw;
    flex:1;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/*Flexbox*/
.container {
    display: flex; 
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 4vh; padding-bottom: 5vh;
    padding-left: 6vw;padding-right: 6vw;
    margin-top: 0vh; margin-bottom: 3vh;
    margin-left: 1vw; margin-right: 1vw;


}
.child {
    display: inline-block;
    height: auto; 
    background-color: white;
    transition: 0.3s;
    
  }
.child:first-child {
    width: 100%;
    padding-top: 0;
    padding-bottom: 2vh;
}
.child:not(:first-child) {
    flex: 1;
}
.nav {
    margin:0;
    padding-top: 1vh;padding-bottom: 1vh;
    background-color: white;
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.nav a {
    width: 5em;
    color: #111111;
    text-align: center;
    padding: 1.5vh 1vw;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
}
.nav a.active {
    background-color: #0074D9;
    color: white;
}



.whitebkg {background-color: white;}
.bluebkg {background-color: #0074D9;}
.dropshadow { filter: drop-shadow(0 0 1rem rgb(73, 73, 73));}
.center-text {text-align: center;}
.justify-text { text-align: justify;}
.big-img {display: block;margin-left: auto;margin-right: auto;max-height:700px;width:50vw;height:auto;}
.mid-img {display: block;margin-left: auto;margin-right: auto;max-height:700px;width:28vw;height:auto;}
.citybkg {background-image: url("resources/city.jpeg");}
.officebkg{background-image: url("resources/phonebackground.jpg");}
.map-responsive{overflow:hidden;padding-bottom:60%;position:relative;height:1;}
.map-responsive iframe{left:0;top:0;height:100%;width:100%;position:absolute;}
.contact-container {height: 100%; flex: 1;}
.logo {max-height:64px;width:auto;height:auto;}
.fade-in-text {
    margin-left: 1vw; margin-right: 1vw;
    margin-top: 15vh; margin-bottom: 15vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 4em;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    display: inline-block;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
.banner {
    flex: 1;
    padding-top:5vh; padding-bottom: 5vh;
    padding-left: 6vw; padding-right: 6vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1000px) {
    p {
        font-size: 20px;
    }
    .big-img {width: 35vw;}
    .mid-img{width: 20vw}
  }

@keyframes fadeIn {0% {opacity:0;}100% {opacity:1;}}
@-moz-keyframes fadeIn {0% {opacity:0;}100% {opacity:1;}}
@-webkit-keyframes fadeIn {0% {opacity:0;}100% {opacity:1;}}
@-o-keyframes fadeIn {0% {opacity:0;}100% {opacity:1;}}
@-ms-keyframes fadeIn {0% {opacity:0;}100% {opacity:1;}}